.sidebar {
    width: 14.44%;
    height: 100%;
    float: left;
    position: relative;
}

.sidebar_scroll {
    position: absolute;
    width: 100%;
    height: 66.62%;
    top: 6%;
    background: white;
    z-index: -1;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.08% 0;
    overflow: hidden;
}

.sidebar_scroll_wrap {
    width:80%;
    height: auto;
    touch-action: none;
}

.scroll_image {
    width: 100%;
    pointer-events: all!important;
}

.send {
    position: absolute;
    right: 0;
    top:74%;
    height: 9.45%;
    display: none;
    pointer-events: all!important;
    
    &.active {
        display: block
    }
}
